* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* border: 2px solid slateblue; */
    color: white;
}

/* Css for header part: it contains video, navbar and text "Discover your work" */
.header-container {
    height: 100vh;
    width: 100vw;
    color: white;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border: 2px solid blue; */
}

.navbar-container {
    display: flex;
    position: relative;
    bottom: 90%;
    width: 100%;
    /* border: 2px solid; */
    justify-content: space-evenly;
}

.logo-text1 {
    font-size: 2em;
}

.logo-text2 {
    font-size: 0.8em;
}

.navLink {
    display: flex;
    width: 50%;
    font-size: 1.2em;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.nav-item {
    align-self: center;
}

.sometext {
    position: relative;
    bottom: 65%;
    left: 25%;
    max-width: 25%;
    font-size: 3em;
}

.navlink-anchor {
    color: white;
    text-decoration: none;
}

.navlink-anchor:hover {
    color: white;
    text-decoration: underline;
}

.logo-navlink:hover{
    text-decoration: none;
}



/* Css for carousel section */
.section1-container {
    width: 100vw;
    /* height: 150vh; */
    background-color: #f3f3f3;
}

.section-heading {
    font-size: 2em;
    padding-top: 4%;
    padding-left: 10%;
}

.carousel-container {
    padding-left: 5%;
    height: 90%;
    width: 100%;
    /* border: 4px solid blue; */
}

.carousel-info {
    display: flex;
    /* border: 4px solid green; */
    flex-wrap: wrap;
    height: 120vh;
    width: 100%;
}

#carousel-img {
    /* border: 5px solid blue; */
    width: 65%;
}

#carousel-desc-container {
    /* border: 5px solid orange; */
    width: 35%;
    position: relative;
    background-color: white;
    right: 10%;
    margin: 5% 0;
}

#carousel-buttons {
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* border: 3px solid orange; */
    justify-content: center;
}

#carouselExampleControls, .carousel-inner, .carousel-item, #single-img {
    height: 100%;
}

#single-img {
    width: 100%;
    height: 100%;
}

#carousel-buttons {
    display: flex;
    padding: 4%;
    font-size: 2em;
    /* border: 1px solid blueviolet; */
}



.section2-container {
    width: 100vw;
}

.cards-container {
    width: 50%;
    height: 50%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.card-info, .card-button {
    display: flex;
    flex-direction: column;
    height: 40%;
}

.card-info {
    /* border: 4px solid blue; */
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

.card-button {
    height: 20%;
    width: 30%;
    /* border: 5px solid green; */
}

.button-item {
    height: 100%;
    background-color: transparent;
    border: 1px solid black;
}

.button-item:hover {
    border: 3px solid black;
}

.card-context {
    font-size: 0.8em;
    /* border: 3px solid orange; */
    color: #777777;
}

.card-quotation {
    height: 30%;
    font-size: 0.7em;
    /* border: 3px solid orange; */
}



#carousel-desc-container {
    padding: 5%;
    color: #777777;
    display: flex;
    /* border: 4px solid red; */
    flex-direction: column;
}

#carousel-title {
    color: black;
    font-size: 2em;
    line-height: 1.1;
    /* border: 4px solid red; */
    padding: 7% 0;
}

#carousel-description {
    /* border: 4px solid orange; */
    padding: 7% 0;
}

.carousel-desc-button {
    height: 10%;
    /* border: 4px solid red; */
}

.carousel-desc-button button {
    height: 100%;
    width: 50%;
    background-color: transparent;
}



/* Css for footer part */
.footer-container {
    background-color: #161F1E;
    display: flex;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 70vh;
    justify-content: space-around;
    /* padding-top: 8%; */
}

.footer-item-one {
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
    /* border: 1px red solid; */

}

.footer-items {
    display: flex;
}

#footer-links {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid white; */
    width: 60%;
}

.links {
    margin-bottom: 50px;
}

.contact-info, .link, .page {
    margin-bottom: 10px;
}

.copyright {
    opacity: 0.5;
    width: 50%;
    position: relative;
    left: 9%;
    /* border: 2px solid red; */
    bottom: 10%;
}



@media screen and (min-width: 700px) and (max-width: 1100px) {
    .header-container {
        height: 100vh;
        width: 100vw;
        color: white;
    }
    
    .logo-text1 {
        font-size: 1.8em;
    }
    
    .logo-text2 {
        font-size: 1em;
    }

    .navLink {
        display: none;
    }

    .navbar-container {
        justify-content: start;
        padding-left: 10%;
        bottom: 95%;
    }

    .sometext {
        font-size: 2em;
    }

    .carousel-container {
        padding: 0;
        height: auto;
    }

    .carousel-info {
        display: flex;
        /* border: 5px solid blue; */
        width: 100%;
        justify-content: center;
        height: auto;
    }

    #carousel-img {
        /* border: 5px solid blue; */
        width: 100%;
    }

    #carousel-desc-container {
        /* border: 5px solid orange; */
        width: 80%;
        justify-content: center;
        position: relative;
        right: 0;
        margin-top: -10%;
        bottom: 30%;
        padding-right: 40%;
    }

    #carousel-title {
        font-size: 1.5em;
    }

    #carousel-description {
        text-align: justify;
    }

    #carousel-buttons {
        font-size: 1em;
    }

    .footer-container {
        height: 50vh;
    }
}



@media screen and (max-width: 700px) {
    .header-container {
        height: 100vh;
        width: 100vw;
        color: white;
    }
    
    .logo-text1 {
        font-size: 1.8em;
    }
    
    .logo-text2 {
        font-size: 1em;
    }

    .navLink {
        display: none;
    }

    .navbar-container {
        justify-content: start;
        padding-left: 10%;
        bottom: 95%;
    }

    .sometext {
        font-size: 2em;
    }


    .carousel-container {
        padding: 0;
        height: auto;
    }

    .carousel-info {
        display: flex;
        width: 100%;
        justify-content: center;
        height: auto;
    }

    #carousel-img {
        width: 100%;
    }

    #carousel-desc-container {
        width: 80%;
        justify-content: center;
        position: relative;
        right: 0;
        margin-top: -10%;
        bottom: 30%;
    }

    #carousel-title {
        font-size: 1.5em;
    }

    #carousel-description {
        text-align: justify;
    }

    #carousel-buttons {
        font-size: 1em;
    }

    .cards-container {
        width: 100%;
    }

    .card-button{
        margin: 10% 0;
    }

    .card-context {
        font-size: 0.7em;
    }

    .card-quotation {
        font-size: 0.5em;
    }

    .footer-container {
        height: 90vh;
        font-size: 0.8em;
        padding-left: 10%;
    }

    .footer-item-one {
        flex-wrap: wrap;
        display: block;
    }

    #footer-logo {
        width: 100%;
        margin: 5% 0;
    }

    #footer-links {
        flex-wrap: wrap;
        justify-content: start;
    }

    #column1 {
        width: 100%;
        margin-top: 10%;
    }

    .links {
        margin-right: 10%;
    }

    .copyright {
        width: 80%;
        left: 1%;
    }
}


